<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .buttons {
        padding: 10px;
        margin: auto;
        background-color: #BA0C0C;
        border-radius: 2;
        margin-right: 5px;
    }
</style>

<body>
    <h2 style="color:#2da7af">Email sent successfully!</h2>
    <form action="/itemList" method="get">
        <input type="submit" value="Go Back" id="frm1_submit" class="btn btn-secondary buttons" />
    </form>
</body>

</html>